# eclipse
bin
*.launch
.settings
.metadata
.classpath
.project

# idea
out
*.ipr
*.iws
*.iml
.idea

# gradle
build
.gradle

# other
eclipse
run
LICENSE.txt
LICENSE-Paulscode IBXM Library.txt
LICENSE-Paulscode SoundSystem CodecIBXM.txt
gradlew.bat
gradlew
gradle.properties
changelog.txt
CREDITS.txt

# Files from Forge MDK
forge*changelog.txt
